xterm*faceName: xft:monospace:pixelsize=54#58
XTerm*eightBitInput:   false
XTerm*eightBitOutput:  true


!*VT100.Translations:	#override \
!	<Key>Delete: string(0x04) \n\
!	<Key>BackSpace: string(0x7F)
!XTerm*ttyModes: erase ^?




xterm*foreground: rgb:ff/10/0
xterm*background: rgb:08/08/08
