XTerm*metaSendsEscape: true
xterm*faceName: xft:monospace:pixelsize=56
xterm*foreground: rgb:ff/10/40
xterm*background: rgb:00/00/00

Xft.dpi: 180

!xterm*VT100.Translations: #override \
!                 Ctrl <Key>V:    insert-selection(PRIMARY)
